<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <table
      style="
        background-color: rgba(0, 0, 253, 0.205);
        color: black;
        width: 100%;
        padding: 10px;
      "
    >
      <td>
        <div style="text-align: start; color: black">
          <p>Adeniyi / Sheriff</p>
          <p>Booked on 24th Aug, 2021</p>
          <p>Qatar Reference: DHDGEJEH</p>
        </div>
      </td>
      <td>
        <div>
          <div style="width: fit-content; float: right; color: black">
            <p>NAIJAGOINGABROAD LTD</p>
            <p style="text-decoration: none">info@naijagoingabroad.com</p>
            <p>09065369929</p>
          </div>
        </div>
      </td>
    </table>
    <div>
      <p>Hello KehindeMary,</p>
      Thank you for booking your flight with Travelstart. This is not your
      E-Ticket. Once we have processed your payment, you will receive your
      e-ticket in a separate email.
    </div>
    <div>
      <h3>Payment Details: NGN 235,500</h3>
      <p>
        Bank : Gtbank <br />A/c: 0124782296 <br />Name: NaijagoingAbroad Ltd
      </p>
    </div>
    <div>
      <h2 style="text-align: center">Itinerary</h2>
      <h3>Lagos - London</h3>
      <table
        style="
          background-color: rgba(0, 0, 253, 0.205);
          padding-left: 10px;
          color: black;
          padding-right: 10px;
          width: 100%;
        "
      >
        <td>
          <p>Lagos</p>
          <p>Muri International Aiport</p>
          <p>Thu, 23 April, 10:23pm</p>
        </td>
        <td style="text-align: center">
          <span>Qatar Airways QR124</span><span><hr /></span
          ><span>Economy</span>
        </td>
        <td>
          <div>
            <div style="width: fit-content; float: right">
              <p>Lagos</p>
              <p>Muri International Aiport</p>
              <p>Thu, 23 April, 10:23pm</p>
            </div>
          </div>
        </td>
      </table>
    </div>

    <div style="margin-top: 100px">
      <h3>Fare Rules</h3>
      <table>
        <td>Fare Code: AHAAH</td>
        <td>
          <div>
            <div style="width: fit-content; float: right">
              Fare Type: Promo255
            </div>
          </div>
        </td>
      </table>
      <p>
        You may require a visa for your destination or the countries where you
        will be transiting (connecting flights). Please contact the local
        consulate or embassy of the country you are travelling to within a
        reasonable time before departure for necessary visa requirements. You
        will need to provide a valid form of photo identification for each
        passenger (including children and infants) when checking in for all
        flights. For domestic flights ID or Passport are accepted, on
        international flights Passport only. Failure to produce valid photo
        proof of identity matching the names on your reservation may result in
        you being refused check-in without refund. Please take a minute to
        verify all your details, especially the passenger names and travel
        dates. If any of the information you have supplied is incorrect please
        contact us immediately
      </p>
    </div>
  </body>
</html>
